@media (max-width:770px){
/*navbar mobile*/
    header{
        position: fixed;
        top:0;
        left:0;

        justify-content: space-between;

        height: 100px;
    }

    header .logo{
        display: inherit;
        align-self: center;
        margin-left: 0px;
    }

    .logo.mobile-menu-active{
        display: none;
    }


    
    .logo i{
        font-size: 1.2em;
        color: hsla(240, 100%, 99%, 0.6);
    }

    .logo span{
        transform: translateY(2px);
    }

    .logo:hover sup{
        background-image: linear-gradient(to right, hsla(240, 100%, 99%, 0.6), rgb(114, 160, 95));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .logo:hover i{
        color: hsla(240, 100%, 99%, 1);
        text-shadow: 0px 0px 8px rgb(114, 160, 95);
    }



    .toggleThemeMode{
        align-self: center;
        color:rgba(220, 220, 220, 0.619);
    }
    
    .mobile-menu{
        color:rgba(220, 220, 220, 0.619);

        display: block;

        margin-right: 20px;
    }

    .navbar_ul{
        display:none;
        gap:5px;
        padding: 2px;
        font-size: 0.9em;

        color: rgba(220, 220, 220, 0.619);
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navbar_ul.mobile-menu-active{
        display:grid;
    }

    /*animação do grid navbar_link*/

    .navbar_link:first-child{
        animation-name: navbarLinkLoad;
        transform: scale(0);
    }
    .navbar_link:last-child{
        animation-name: navbarLinkLoad;
        transform: scale(0);
    }

    /* main no mobile*/

    .container.social-media{
        display:none;
    }

    /* seção base no mobile*/

    .section{
        margin-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 100px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section .title{
        width: 100%;
    }

    .section .text{
        text-align: justify;
    }

    .section .title:after{
        background-color: black;
        content: "";
        height: 1px;
        width: 150px;
    }

    /*seção home no mobile*/

    .section.home{
        margin-top: 100px;
        padding-top: 100px;
        
    }

    .section.home .title{
        font-size: 1.5em;

    }
    
    .section.home .subtitle{
        font-size: 0.8em;
    }
    
    .section.home .subtitle.profissao{
        font-size: 1em;
        text-transform: uppercase;
    }

    /*seção sobre no mobile*/

    .section.sobre .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:50px;
    }

    .section.sobre .text{
        width: 250px;
        max-width: 300px;
        text-align: justify;
    }

    /*seção habilidades no mobile*/
    
    .container-descricao p{
        text-align: justify;
    }
    
    .section.hab .container-tech{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:6px;
    }

    #certificados{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        padding: 40px 5px 5px 80px;

    }

    /* seção projetos*/
/*
    .section.projetos{
        padding-left: 2px;
        padding-right: 2px;
    }

    .section.projetos .title{
        padding-left: 20px;
    }*/

    .section.projetos article .text{
        text-align: justify;
    }

    .container-card-projeto .arrow{
        font-size: 2em;
        transition: 400ms;
    
        cursor: pointer;
    }
    
    
    .container-card-projeto .card{
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 335px;

        text-align: justify;
    
        background-color: inherit;
        padding: 5px;

        border-radius: 30px 0px 30px 0px;
    }


    .container-card-projeto .card .demo{
        margin-right: 20px;
    }

    .container-card-projeto .card:hover{
        background-color: inherit;
    }


    

    footer{
        display: flex;
        flex-direction: column;
    
        font-size: 0.8em;
        text-align: center;

        color:hsla(240, 100%, 99%, 0.4);
        background-color: hsla(180, 93%, 11%, 0.9);
    
        width: 100%;

        padding: 30px 30px;

        gap: 10px;
    }
}
