.error{
    display: none;
    color: red;
}

.error.active{
    display:inline;
}

.section.contato .form .input.error.active{
    border-color:hsla(0, 100%, 64%, 0.9);
    box-shadow: 0px 0px 8px hsla(16, 100%, 50%, 0.645);
}