@media (max-width:770px){
/*navbar mobile*/
    header{
        position: fixed;
        top:0;
        left:0;

        justify-content: space-between;

        height: 100px;
    }

    header .logo{
        display: inherit;
        align-self: center;
        margin-left: 20px;
    }

    .logo.mobile-menu-active{
        display: none;
    }

    .toggleThemeMode{
        align-self: center;
        color:rgba(220, 220, 220, 0.619);
    }
    .mobile-menu{
        color:rgba(220, 220, 220, 0.619);

        display: block;

        margin-right: 20px;
    }

    .navbar_ul{
        display:none;
        gap:5px;
        padding: 2px;
        font-size: 0.9em;

        color: rgba(220, 220, 220, 0.619);
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navbar_ul.mobile-menu-active{
        display:grid;
    }
    /*animação do grid navbar_link*/
    .navbar_link:first-child{
        animation-name: navbarLinkLoad;
        transform: scale(0);
    }
    .navbar_link:last-child{
        animation-name: navbarLinkLoad;
        transform: scale(0);
    }

    /* main no mobile*/

    .container.social-media{
        display:none;
    }

    /* seção base no mobile*/
    .section{
        margin-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section .title{
        width: 100%;
    }
    .section .title:after{
        background-color: black;
        content: "";
        height: 1px;
        width: 150px;
    }
    /*seção home no mobile*/
    .section.home{
        margin-top: 100px;
        padding-top: 100px;
        
    }

    .section.home .title{
        font-size: 1.5em;

    }
    
    .section.home .subtitle{
        font-size: 0.8em;
    }
    
    .section.home .subtitle.profissao{
        font-size: 1em;
        text-transform: uppercase;
    }
    /*seção sobre no mobile*/

    .section.sobre .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:50px;
    }

    .section.sobre .text{
        width: 250px;
        max-width: 300px;
    }
    /*seção habilidades no mobile*/

    .section.hab .container-tech{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:6px;
    }


}