
:root{

    /*variáveis de animação*/
    --header_load_time: 560ms;
    --navbarLink_load_time: 450ms;
}

body{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* -- header ---*/

header{
    position: fixed;
    top: 0;
    left: 0;

    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    
    color:rgba(248, 248, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.9);
    
    width: 100%;

    padding: 10px 0px;
    

    animation: headerLoad var(--header_load_time) ease-in;
}

.header-hidden{
    transform: translateY(-100px);
}

header button{
    font-size: 1.5em;

    align-self: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    cursor: pointer;
}

.toggleThemeMode{
    color: inherit;
}

/* animação do header caindo suavemente*/
@keyframes headerLoad{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

/* -- navbar --*/
.navbar-container{
    display: flex;
}

.navbar_ul{
    display:flex;
    justify-content: center;
    gap:30px;
}

.mobile-menu{
    display: none;
}

.navbar_link{

    animation-name: navbarLinkLoad;
    animation-duration: var(--navbarLink_load_time);
    animation-timing-function: ease-in;
    animation-delay: var(--header_load_time);
    animation-fill-mode: forwards;
    transform: scale(0);
}


.navbar_link a{
    color:inherit;
    
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 100ms ease-in;
}

.navbar_link a:hover{
    color: ghostwhite;
    scale: 1.1;
}

/*animação do primeiro e do último filho do navbar_link*/
.navbar_link:first-child{
    animation-name: navbarLinkLoad_first;
    transform: translateX(-1000%);
}
.navbar_link:last-child{
    animation-name: navbarLinkLoad_last;
    transform: translateX(1000%);
}
/*animação dos links do navbar*/

@keyframes navbarLinkLoad {
    0%{
        transform: scale(0);
    }
    
    80%{
        transform: scale(1.1);
    }
    
    100%{
        transform: scale(1);
    }
}

@keyframes navbarLinkLoad_first{
    0%{
        transform: translateX(-1000%);
    }

    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes navbarLinkLoad_last{
    0%{
        transform: translateX(1000%);
    }

    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}

/* main */


/* seção social-media */
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.social-media{
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0px 40px;

    position:fixed;
    bottom:30%;
    left:0;
}

.container.social-media ul:after{
    background-color: black;

    content: "";
    width: 1px;
    height: 100px;
    border: 1px solid black;
    margin: 20px auto;
    display:inline-block;
    
}

.social_media_link{
    margin: 5px 0px;
}

.social_media_link:hover{
    transform: scale(1.3);
}

/* base das seções*/


.section{
    margin: 0px 220px;
    height: 500px;
    padding-top: 80px;
}

.section .title:after{
    background-color: black;
    content: "";
    height: 1px;
    width: 250px;
    border: 1px black;
    margin: auto 20px;
    transform: translateY(-6px);
    display: inline-block;
}

/* seção home*/

.section.home{
    margin-top: 200px;
}

.section.home .title{
    font-size: 2em;
}

.section.home .title::after{
    display: none;
}

.section.home .subtitle{
    font-size: 1em;
    color:rgba(34, 34, 34, 0.4);
    line-height: 30px;
    width: 400px;
}

.profissao{
    font-size: 1.25em;
    text-transform: uppercase;
}

/* seção sobre mim */

.section.sobre .container{
    display: flex;
    gap:50px;
}

.section.sobre .container.col{
    display:flex;
    flex-direction: column;
    gap:0px;
}

.section.sobre .container.col .text{
    text-align: justify;

    margin: 5px 0px;

    width:100%;
    max-width: 550px;
}

.section.sobre img{
    width: 250px;
    height: 250px;
}

.section.sobre .btn{
    margin: 10px;
    padding: 5px;
    width: 100%;

    outline: none;
    border: none;
    border-radius: 10px;

    cursor: pointer;
}

/* seção de habilidades*/

.section.hab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section.hab .title{
    align-self: baseline;
}
.section.hab i{
    font-size: 3em;
}

.container-tech{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.container-tech button{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.container-tech .btn img{
    width: 40px;
    height: 40px;
}

.container-tech .btn:hover{
    transform: scale(1.2);
    text-shadow: 0px 0px 8px rgb(114, 160, 95);
}

.container-tech .btn.active{
    transform: scale(1.4);
    text-shadow: 0px 0px 10px rgb(114, 160, 95);
}

.container-descricao #techDesc_text{
    height: 270px;
}

.container-descricao p{
    text-align: justify;

    margin:10px 0px;
    width: 100%;
    max-width: 400px;
}

.container-descricao-btn{
    display: flex;
    gap: 10px;
}

.container-descricao-btn .btn{
    text-align: center;
    text-decoration: none;
    color:inherit;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: ghostwhite;
}

.container-descricao-btn .btn:disabled{
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(248, 248, 255, 0.455);
}

/* parte dos certificados da seção habilidades */
.container-certificados{
    font-size: 1em;

    display: none;
    justify-content: space-around;

    position: absolute;
    margin: auto;


    width: 100%;

    height: 600px;
    max-width: 1000px;

    background-color: ghostwhite;

    border-radius: 20px;
    animation: container-certificado-load 560ms ease-in;
    transform: scale(0);
    animation-fill-mode: forwards;
}

.container-certificados ul li{

    list-style-type: disc;
    margin: 5px 0px;
}

.container-certificados ul li ul li{
    list-style: none;
}

.container-certificados.active{
    display:block;   
}
.container-certificados i{
    color: rgba(0, 0, 0, 0.475);
    transition: 200ms;
}

#certificados{
    position: inherit;
    font-size: 0.8em;
    padding: 40px 5px 5px 20px;
}

.container-certificados .btn{
    font-size: 1em;
    background-color: transparent;
    

    width: 40px;
    height: 40px;

    border: none;
    outline: none;

    cursor: pointer;
}

/* animação da seção habilidades*/

@keyframes container-certificado-load {
    0%{
        transform: scale(0)
    }

    100%{
        transform: scale(1)
    }
}